<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moneysaver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GoalPackge.AddGoal" />
        <activity android:name=".ExpensePackage.AddExpense" />
        <activity
            android:name=".Settings.AddCategories"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".ExpensePackage.ListExpense" />
        <activity android:name=".ExpensePackage.ExpenseView" />
        <activity android:name=".Statistics.Statistics" />
        <activity android:name=".GoalPackge.ListGoal" />
        <activity android:name=".CreditPackage.ListCredit" />
        <activity android:name=".SaveMoney" />
        <activity android:name=".CreditPackage.AddCredit" />
        <activity android:name=".CreditPackage.CreditView" />
        <activity android:name=".GoalPackge.GoalView" />
        <activity android:name=".ExpensePackage.DeleteExpense" />
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Settings.Settings"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="Настройки"
            />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>